In [5]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
mouse_drug_data_to_load = "data/mouse_drug_data.csv"
clinical_trial_data_to_load = "data/clinicaltrial_data.csv"

# Read the Mouse and Drug Data and the Clinical Trial Data
mouse_data = pd.read_csv("../data/mouse_drug_data.csv")
mouse_data.head()
clinical_data = pd.read_csv("../data/clinicaltrial_data.csv")
clinical_data.head()

# Combine the data into a single dataset
combined_data = pd.merge(mouse_data, clinical_data)
combined_data.head()
# Display the data table for preview

  Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     f234  Stelasyn          0           45.000000                 0
1     f234  Stelasyn          5           47.313491                 0
2     f234  Stelasyn         10           47.904324                 0
3     f234  Stelasyn         15           48.735197                 1
4     f234  Stelasyn         20           51.112713                 2

In [6]:
del combined_data['Mouse ID']

In [7]:
del combined_data['Metastatic Sites']

In [8]:
combined_data.head()

       Drug  Timepoint  Tumor Volume (mm3)
0  Stelasyn          0           45.000000
1  Stelasyn          5           47.313491
2  Stelasyn         10           47.904324
3  Stelasyn         15           48.735197
4  Stelasyn         20           51.112713

In [66]:
Mean_tumor_data = combined_data.groupby(['Drug','Timepoint'])
Mean_tumor_data.head()
Mean_tumor_data1 = Mean_tumor_data['Tumor Volume (mm3)'].mean()
Mean_tumor_data1.head()
tumor_data_pd = pd.DataFrame(Mean_tumor_data1)
tumor_data_pd

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                   45.000000
          5                   44.266086
          10                  43.084291
          15                  42.064317
          20                  40.716325
...                                 ...
Zoniferol 25                  55.432935
          30                  57.713531
          35                  60.089372
          40                  62.916692
          45                  65.960888

[100 rows x 1 columns]

In [29]:
Mean_tumor_data = combined_data.groupby(['Drug','Timepoint'])
Standard_Error = Mean_tumor_data.sem()
Standard_Error

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                    0.000000
          5                    0.448593
          10                   0.702684
          15                   0.838617
          20                   0.909731
...                                 ...
Zoniferol 25                   0.602513
          30                   0.800043
          35                   0.881426
          40                   0.998515
          45                   1.003576

[100 rows x 1 columns]

In [64]:
#scatterplots
time = [0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
y_values= [35, 40, 45, 50, 55, 60, 65, 70, 75, 80]
Capomulin = combined_data.loc[combined_data["Drug"] == "Capomulin", "Tumor Volume (mm3)"]
Infubinol = combined_data.loc[combined_data["Drug"]=="Infubinol","Tumor Volume (mm3)"]
Ketrapil = combined_data.loc[combined_data["Drug"]=="Ketrapil","Tumor Volume (mm3)"]
Placebo = combined_data.loc[combined_data["Drug"]=="Placebo","Tumor Volume (mm3)"]
plt.scatter(Mean_tumor_data.loc[mean_tumor_data["Drug"]=="Capomulin","Timepoint"],Capomulin,)

AttributeError: Cannot access callable attribute 'loc' of 'DataFrameGroupBy' objects, try using the 'apply' method